// $red: random(256)-1;
// $green: random(256)-1;
// $blue: random(256)-1;
// $alpha: random(100)/100;

.SectionWrapperBackground{
    width: 99vw;
    height: 100vh;
    // position: absolute;
    // background-color: unquote("rgba(#{$red}, #{$green}, #{$blue}, #{$alpha})");
    z-index: -1;
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    overflow: hidden;
}