*{
  margin: 0;
}

.Background{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(17.06% 36.87% at 90.33% 36.87%, #FFFFFF 18.96%, rgba(255, 255, 255, 0) 100%), conic-gradient(from 69.18deg at -6.22% 56.54%, rgba(255, 255, 255, 0) -92.81deg, rgba(254, 228, 204, 0.72) 46.78deg, rgba(255, 255, 255, 0) 267.19deg, rgba(254, 228, 204, 0.72) 406.78deg), #FEE4CC;

  .ProjectBoardTop{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    pointer-events: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    //.ProjectBox{
    //  grid-area: 1 / 1 / 2 / 2;
    //}
  }

  .ProjectBoardBot{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    pointer-events: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .ProjectBox{
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
